{% extends "base.html" %}

{% block body %}

<script>
function printSpecificDiv() {
  if (confirm("Do you want to print?")) {
    // Get the specific div by its ID
    var divToPrint = document.getElementById('contentToPrint');
    if (divToPrint) {
      var printing = window.open('', '', 'left=0,top=0,width=550,height=400,toolbar=0,scrollbars=0');
      printing.document.write('<html><head><title>Print</title></head><body>');
      printing.document.write(divToPrint.innerHTML); // Print the contents of the specific div
      printing.document.write('</body></html>');
      printing.document.close();
      printing.focus();
      printing.print();
    } else {
      console.error('Element with ID "contentToPrint" not found.');
    }
  }
}
  </script>
  
<div id="contentToPrint">

<h1>Purchase Details</h1>

<br>
<style>
  .custom-table {
      background-color: rgba(255, 255, 255, 0.5); /* Use your desired color values and opacity here */
      margin-top: 52px;
      border-collapse: separate; /* Separate border-spacing model */
      border-spacing: 20px;
      width: 100%; /* Adjust the spacing between rows and columns as needed */
  }
  
</style>  
<table class="custom-table">
        <thead>
            <tr>
                <th>Total Amount</th>
                <th>Invoice Date</th>
                <th>Invoice Number</th>
                <th>Supplier Name</th>
                <th>Mobile Number</th>
                <th>Address</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>

            {% for purchase_detail in purchase_details %}
            <tr>
                <td>{{ purchase_detail.0 }}</td>
                <td>{{ purchase_detail.1 }}</td>
                <td>{{ purchase_detail.2 }}</td>
                <td>{{ purchase_detail.3 }}</td>
                <td>{{ purchase_detail.4 }}</td>
                <td>{{ purchase_detail.5 }}</td>
                <td>{{ purchase_detail.6 }}</td>
                <td>{{ purchase_detail.7 }}</td>
                <td>{{ purchase_detail.8 }}</td>
                <td>{{ purchase_detail.9 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <p style="text-align : center">
        <input type="button" value="Print" name="printbtn" onclick="printSpecificDiv()" class="btn btn-secondary">
      </p>
</div>    
{% endblock %}